.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Adumu Inline', sans-serif;

    &__title {
        font-size: 40px;
    }

    &__game {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        &-rules {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            &--title {
                font-size: 30px;
            }

            &--img {
                height: 700px;
            }
        }

        &-options {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            &--title {
                font-size: 30px;
            }

            &--container {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 50px;
                width: 100%;

                &_btn {
                    width: 120px;
                    height: 120px;
                    border: solid 3px;
                    border-radius: 50%;
                }
            }

            &--text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 100px;
                width: 550px;
                height: 350px;
                border: solid 2px black;

                background-color: black;

                &-random {
                    font-size: 25px;
                    color: white;
                }

                &-msg {
                    margin-top: 40px;
                    font-size: 40px;
                    color: white;
                }

                &-reset {
                    margin-top: 100px;
                    width: 250px;
                    height: 50px;
                    font-family: 'Adumu Inline', sans-serif;
                    font-size: 25px;
                    border: solid 2px;
                    border-radius: 25px;
                    background-color: white;

                }
            }
        }
    }
}

.js__rock {
    border-color: #ff8181;
}

.js__paper {
    border-color: #ffdc55;
}

.js__scissors {
    border-color: #d480ff;
}

.js__lizard {
    border-color: #87de87;
}
.js__spock {
    border-color: #80b3ff;
}

.hidden {
    display: none;
}